body{
    font-family: sans-serif;
    text-transform: uppercase;
}
#container{
    position: relative;
    height: 400px;
    width: 1200px;
    background-color: #0077C8;
}
#container > #white-triangle{
    position: absolute;
    top: 25px;
    left: 425px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 0;
    width: 0;
    border-bottom: 350px solid white;
    border-right: 150px solid transparent;
    border-left: 150px solid transparent;
}
#container > #white-triangle > #black-triangle{
    position: absolute;
    top: 50px;
    height: 0;
    width: 0;
    border-bottom: 300px solid black;
    border-left: 130px solid transparent;
    border-right: 130px solid transparent;
}
#container > #yellow-triangle{
    position: absolute;
    top: 175px;
    left: 425px;
    height: 0;
    width: 0;
    border-bottom: 200px solid #FFD100;
    border-right: 150px solid transparent;
    border-left: 150px solid transparent;
}